/* .dt-toolbar{
    display: block;
    position: relative;
    width: 100%;
    float: left;
    background: #fafafa;
}
.dataTables_filter {
    float: left;
    width: 100%;
}

.dataTables_filter .input-group-addon{
    
    width: 32px;
    margin-top: 0;
    float: left;
    height: 32px;
    padding-top: 8px;
}

.dataTables_scroll + .dt-toolbar-footer{
    width: 100%;
} */

